/*==========LISTA USUARIOS==============*/
header{
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

header a{
    text-decoration: none;
    color: #333;
}

table {

    border-collapse: collapse;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
table th {
    text-align: left;
    padding: 10px;
    background: #3d7ba8;
    color: #FFF;
}

table tr:nth-child(odd){
    background: #FFF;
}

table td{
    padding: 10px;
}

